/*
* Row with equal height columns
* --------------------------------------------------
*/
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.img-response {
    width: 100% !important;
}

.each-video {
    max-width: 300px;
    /*min-width: 200px;*/
}
.panel-heading{
    padding: 10px 5px;
}
.center {
    width: auto;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

.video-resolution-text {
    bottom: 20px;
    position: relative;
    float: right;
    background: black;
    color: white;
}

.each-video:hover div.panel-heading {
    /*background-color: #1cd388;*/
    background-color: #3c8dbc;
    color: white;
}