{% extends "vod/basic.html" %}
{% load static %}
{% block content %}
<!--body wrapper start-->
            <script>
            function selectFile(){
                //触发 文件选择的click事件
                return $("#id_file").click();
            //其他code如 alert($("#file").attr("value"))
            }
            function file_selected(){
                alert('我被提交了');
                return $("#id_submit").click();
            }
            /* 获取 文件的路径 ，用于测试*/
            function getFilePath(){
                alert($("#file").attr("value"));
            }
        </script>
        <div class="wrapper">

            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            Media Manager
                            <span class="tools pull-right">
                                <a href="javascript:;" class="fa fa-chevron-down"></a>
                                <a href="javascript:;" class="fa fa-times"></a>
                             </span>
                        </header>
                        <div class="panel-body">

                            <ul id="filters" class="media-filter">
                                <li><a href="#" data-filter="*"> All</a></li>
                                <li><a href="#" data-filter=".images">Images</a></li>
                                <li><a href="#" data-filter=".audio">Audio</a></li>
                                <li><a href="#" data-filter=".video">Video</a></li>
                                <li><a href="#" data-filter=".documents">Documents</a></li>
                            </ul>

                            <div class="btn-group pull-right">
                                <form action='' method="POST" enctype="multipart/form-data">

                                <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-check-square-o"></i> Select all</button>
                                <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-folder-open"></i> Add New</button>
                                <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-trash-o"></i> Delete</button>
                                    {% csrf_token %}
                                <button type="button" onclick="selectFile();" class="selectFile btn btn-primary btn-sm"><i class="fa fa-upload"></i> Upload New File</button>
                                <!--<input type="file" id="file" onchange="getFilePath()" style="filter:alpha(opacity=0);opacity:0;width: 0;height: 0;"/>-->
                                <input type="file" onchange="file_selected();" id="id_file" name="image" class="form-control"  style="display:none"/>
                                <button id="id_submit" class="btn btn btn-primary btn-block" type="submit" style="display:none">提交</button>
                                <input type="text" name="title" value="my_title">
                                </form>
                            </div>



                            <div id="gallery" class="media-gal">
                                <div class="images item " >
                                    <a href="#myModal" data-toggle="modal">
                                        <img src="{% static 'images/gallery/image1.jpg' %}" alt="" />
                                    </a>
                                    <p>img01.jpg </p>
                                </div>

                                <div class=" audio item " >
                                    <a href="#myModal" data-toggle="modal">
                                        <img src="{% static 'images/gallery/image2.jpg' %}" alt="" />
                                    </a>
                                    <p>img02.jpg </p>
                                </div>

                                <div class=" video item " >
                                    <a href="#myModal" data-toggle="modal">
                                        <img src="{% static 'images/gallery/image3.jpg' %}"alt="" />
                                    </a>
                                    <p>img03.jpg </p>
                                </div>

                                <div class=" video item " >
                                    <a href="#myModal" data-toggle="modal">
                                        <img src="{{ MEDIA_URL }}{{ breed.img.image.url }}" alt="" />
                                    </a>
                                    <p>img03.jpg </p>
                                </div>


                            </div>

                            <div class="col-md-12 text-center clearfix">
                                <ul class="pagination">
                                    <li><a href="#">«</a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">»</a></li>
                                </ul>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title">Edit Media Gallery</h4>
                                        </div>

                                        <div class="modal-body row">

                                            <div class="col-md-5 img-modal">
                                                <img src="{% static 'images/gallery/image1.jpg'%}" alt="">
                                                <a href="#" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> Edit Image</a>
                                                <a href="#" class="btn btn-white btn-sm"><i class="fa fa-eye"></i> View Full Size</a>

                                                <p class="mtop10"><strong>File Name:</strong> img01.jpg</p>
                                                <p><strong>File Type:</strong> jpg</p>
                                                <p><strong>Resolution:</strong> 300x200</p>
                                                <p><strong>Uploaded By:</strong> <a href="#">ThemeBucket</a></p>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="form-group">
                                                    <label> Name</label>
                                                    <input id="name" value="img01.jpg" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label> Tittle Text</label>
                                                    <input id="title" value="awesome image" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label> Description</label>
                                                    <textarea rows="2" class="form-control"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label> Link URL</label>
                                                    <input id="link" value="images/gallery/img01.jpg" class="form-control">
                                                </div>
                                                <div class="pull-right">
                                                    <button class="btn btn-danger btn-sm" type="button">Delete</button>
                                                    <button class="btn btn-success btn-sm" type="button">Save changes</button>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- modal -->

                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!--body wrapper end-->
{% endblock %}
{% block own_scrips %}
<script type="text/javascript">
    $(function() {
        var $container = $('#gallery');
        $container.isotope({
            itemSelector: '.item',
            animationOptions: {
                duration: 750,
                easing: 'linear',
                queue: false
            }
        });

        // filter items when filter link is clicked
        $('#filters a').click(function() {
            var selector = $(this).attr('data-filter');
            $container.isotope({filter: selector});
            return false;
        });
    });
</script>
{% endblock %}