{% extends "vod/basic.html" %}
{% load static %}
{% block content %}
<div class="container">
   <div class="row">
{% for video in videos %}
    {# Each "contact" is a Contact model object. #}
   <div class="col-xs-4">
       <div class="panel panel-primary">
            <div class="panel-heading">
                <h3>{{ video.title }}</h3>
            </div>
{#            <div class="panel-body">#}
{#                <video width="200" height="200" controls>#}
{#                   <source src="{{ video.video.url }}" type="video/mp4">#}
{#                </video>#}
{#            </div>#}
       </div>
    </div>
{% endfor %}
   </div>
</div>
<div class="pagination">
    <span class="step-links">
        {% if videos.has_previous %}
            <a href="?page={{ videos.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ videos.number }} of {{ videos.paginator.num_pages }}.
        </span>

        {% if videos.has_next %}
            <a href="?page={{ videos.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}