{% extends "vodmanagement/basic.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block own_scrips %}
    {#    <script src="{% static 'js/hola_player.js'%}"></script>#}
    {#    <script>#}
    {#        window.hola_player()#}
    {#    </script>#}
    <!-- <script type="text/javascript">
        $(document).ready(function(){
            $("#all_video").addClass("active")
        })
    </script> -->
{% endblock %}

{% block search_field %}
    <!--search start-->
    <form action="/list/" method="get" class="sidebar-form">
        <div class="input-group">
            <input type="text" name="search_word" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
        <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
        </button>
      </span>
        </div>
    </form>
    <!--search end-->
{% endblock %}

{% block content-header %}
    <section class="content-header">
        <h1>
            {{ video.title }}
        </h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/list/{{ video.category }}">{{ video.category }}</a></li>
            <li class="active">{{ video.title }} </li>
        </ol>
    </section>
{% endblock %}

{% block content %}
    <!-- <div class="page-heading">
    {{video.title}}
</div> -->
    <div class="jumbotron" style="background: transparent;">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <video id="video{{ video.pk }}" class='video-js vjs-default-skin' width="100%" height="100%"
                                   controls>
                                <!-- preload="auto" -->
                                <source src="{{ video.video.url }}" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-xs-12 col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            <h4 style="display: inline">Description</h4>
                            <span class="pull-right" style="color: #666">{{ video.view_count }} views</span>
                        </div>
                        <div class="panel-body">
                            <span>{{ video.description }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}