{% extends "vodmanagement/basic.html" %}
{% load staticfiles %}

{% block own_scrips %}
{#    <script src="{% static 'js/hola_player.js'%}"></script>#}
{#    <script>#}
{#        window.hola_player()#}
{#    </script>#}
<!-- <script type="text/javascript">
    $(document).ready(function(){
        $("#all_video").addClass("active")
    }) 
</script> -->

{% endblock %}


{% block content %}
<div class="page-heading">
    {{title}}
</div>

<div class="container">
   <div class="row">
{% for video in videos %}
   <div class="col-md-6">
       <div class="panel panel-primary">
            
                <div class="panel-heading">
                    <h3>{{ video.title }}</h3>
                </div>
                <a href='{{ video.get_absolute_url }}'>
                <div class="panel-body">
                    <img src="{{video.image.url}}" width="100%" height="100%" />
                </div>
                </a>
       </div>
    </div>
{% endfor %}
    <div class="col-md-12 text-center clearfix">
        <ul class="pagination">
            <!-- <span class="step-links"> -->
                {% if videos.has_previous %}
                    <li><a href="?page={{ videos.previous_page_number }}">previous</a></li>
                {% endif %}

                <li><span class="current">
                    Page {{ videos.number }} of {{ videos.paginator.num_pages }}.
                </span></li>

                {% if videos.has_next %}
                    <li><a href="?page={{ videos.next_page_number }}">next</a></li>
                {% endif %}
            <!-- </span> -->
        </ul>
    </div>
</div>
<div class="col-md-12">
<!-- <div id="output"></div>
<script type="text/javascript">
(function(){
var video, output;
var scale = 0.8;
var initialize = function() {
    output = document.getElementById("output");
    video = document.getElementById("video11");
    video.addEventListener('loadeddata',captureImage);
};
var captureImage = function() {
    var canvas = document.createElement("canvas");
    canvas.width = video.videoWidth * scale;
    canvas.height = video.videoHeight * scale;
    canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);

    var img = document.createElement("img");
    img.src = canvas.toDataURL("image/png");
    img.width = 400;
    img.height = 300;
    output.appendChild(img);
};
initialize();
})();
</script>

</div> -->
</div>
{% endblock %}