<script>
(function($) {
    $(function() {


        $('form').submit(function() {
            if($(this).hasClass('{{ name }}_disabled')) {
                return false;
            }
        });

        if (!(new Resumable().support)) {
            alert("No uploader support");
        }
        var r = new Resumable({
            target: '{% url 'admin_resumable' %}',
            chunkSize: {{ chunkSize }},
            query: {
                csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
                field_name: '{{ field_name }}',
                content_type_id: '{{ content_type_id }}'
            },
        });
        r.assignBrowse($('#{{ id }}_input_file'));
        r.on('fileAdded', function(file,event) {
            console.log("add file")
            var save_path_sel = $('#id_save_path');
            var save_path=save_path_sel.val();
            var cur_option = save_path_sel.find('[value='+save_path+']').text();
            var msg = "Confirm save path:\n" + cur_option;
            var conf = confirm(msg);
            if(conf){
                console.log("upload start");
                var category = $("#id_category").val();
                r.opts.query = Object.assign(r.opts.query, {'category':category});
                var content={
                    'upload_to_': save_path,
                    field_name: '{{ field_name }}',
                    content_type_id: '{{ content_type_id }}'
                };
                $.get('{% url 'admin_resumable_set' %}',content, function(data,status){
                    r.upload();
                    $("form").addClass("{{ name }}_disabled");
                });
            }else{
                console.log("refuse upload");
                r.removeFile(file);
            }

        });
        r.on('fileSuccess', function(file, message) {
            $('#{{ id }}').val(message);
            var before=$("#{{ id }}_uploaded_status").html();
            $("#{{ id }}_uploaded_status").html(before+'<br/>'+message + ' Uploaded');
            $("form").removeClass("{{ name }}_disabled");
{#            $("[name='_save'").click();#}

        });
        r.on('fileError', function(file, message) {
            $("#{{ id }}_uploaded_status").html(message);
        });
        r.on('progress', function(file, message) {
            $('#{{ id }}_progress').val(r.progress());
        });

        $("[name='_save']").click(function(){
            console.log("click save");
        });

    });

})(django.jQuery);


</script>
<div id="container">
    <p class="file-upload">
        {% if value %}
            Currently:
            {% if file_url %}
                <a id="{{ id }}_link" target="_new" href="{{ file_url }}">{{ file_url }}</a>
                {% if show_thumb %}
                    <img src="{{ file_url }}" style="width:250px;">
                {% endif %}
            {% else %}
                {{ value }}
            {% endif %}
            {{ clear_checkbox }}
            <br>
            Change:
        {% endif %}

        <span id="{{ id }}_uploaded_status"></span>
        <input type="file" id="{{ id }}_input_file">
    </p>
    <progress id="{{ id }}_progress" value="0" max="1" style="width:500px"></progress>
</div>

<input type="hidden" name="{{ name }}" id="{{ id }}" value="{{ value }}">
