<script>
    {% block script_head %}{% endblock %}
    function getFileName(file) {
        var pos = file.lastIndexOf(".");
        return file.substring(0, pos);
    }
    function getFileType(file) {
        var pos = file.lastIndexOf(".");
        return file.substring(pos + 1);
    }


    (function ($) {
        $(function () {
            var file_names = '';
            var save_path_sel = $('#id_save_path');
            var confirm_sel = $('#confirm_upload');
            var save_path = save_path_sel.val();
            var cur_option = save_path_sel.find('[value=' + save_path + ']').text();
            var video_allow = ['mp4', 'm3u8'];
            $('form').submit(function () {
                if ($(this).hasClass('{{ name }}_disabled')) {
                    return false;
                }
            });
            if (!(new Resumable().support)) {
                alert("No uploader support");
            }
            var r = new Resumable({
                target: '{% url 'admin_resumable' %}',
                chunkSize: {{ chunkSize }},
                query: {
                    csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
                    field_name: '{{ field_name }}',
                    content_type_id: '{{ content_type_id }}'
                },
            });
            r.assignBrowse($('#{{ id }}_input_file'));
            r.assignDrop($('#{{ id }}_input_file'));
            r.on('fileAdded', function (file, event) {
                {% block vod_title %}{% endblock %}
                console.log("add file");
                {#                file_names += file.fileName + '<br/>';#}
            });
            r.on('fileSuccess', function (file, message) {
                $('#{{ id }}').val(message);
                var before = $("#{{ id }}_uploaded_status").html();
                $("#{{ id }}_uploaded_status").html(before + '<br/>' + message + ' Uploaded');

                if (video_allow.toString().indexOf(getFileType(file.fileName)) > -1) {
                    $("form").removeClass('uploading');
                }
                {#            $("[name='_save'").click();#}
                $('#{{ id }}_upload_icon').hide();
                r.removeFile(file);
                console.log("upload done");
                {% block file_success %}
                    $.confirm({
                        title: 'Save?',
                        content: 'Upload complete, you will be automatically save in 5 seconds.',
                        autoClose: 'Save|5000',
                        buttons: {
                            Save: {
                                text: 'Save',
                                action: function () {
                                    $("[name='_save']").click();
                                }
                            },
                            cancel: function () {
                                $.alert('canceled');
                            }
                        }
                    });
                {% endblock %}
            });
            r.on('fileError', function (file, message) {
                $("#{{ id }}_uploaded_status").html(message);
            });
            r.on('progress', function (file, message) {
                {#                $('#{{ id }}_progress').val(r.progress());#}
                update_processbar($('#{{ id }}_progress'), r.progress());
                $('#{{ id }}_upload_icon').show();

            });

            $('#{{ id }}_input_file').on('change', function (e) {
                console.log('change');
                setTimeout(function () {
                    file_names = '';
                    r.files.map(function (file) {
                        file_names += file.fileName + '<br/>';
                    });
                    var msg = '<div class="text-center" style="color:blue">Are you sure to upload:</div><b>'
                        + file_names
                        + "</b>"
                        + '<div class="text-center" style="color:blue">to:</div>'
                        + '<span style="color: red">'
                        + cur_option
                        + '</span>';
                    msg = '<div class="text-center">' + msg + '</div';
                    console.log(msg);
                    jQuery.confirm({
                        columnClass: 'medium',
                        title: 'Confirm',
                        content: msg,
                        type: 'green',
                        buttons: {
                            ok: {
                                text: "Yes!",
                                btnClass: 'btn-primary',
                                keys: ['enter'],
                                action: function () {
                                    console.log("upload start");
                                    var category = $("#id_category").val();
                                    r.opts.query = Object.assign(r.opts.query, {
                                        'category': category,
                                        'save_path': save_path
                                    });
                                    var content = {
                                        'upload_to_': save_path,
                                        field_name: '{{ field_name }}',
                                        content_type_id: '{{ content_type_id }}'
                                    };
                                    $.get('{% url 'admin_resumable_set' %}', content, function (data, status) {
                                        r.upload();
                                        $("form").addClass('uploading');
                                    });
                                }
                            },
                            cancel: function () {
                                console.log("refuse upload");
                                r.cancel();
                                file_names = '';
                            }
                        }
                    })
                }, 500)
            });
        });
        function update_processbar(bar, value) {
            var now = value * 100;
            if (now === 100) {
                bar.addClass('progress-bar-success');
            } else {
                bar.removeClass('progress-bar-success');

            }
            bar.css('width', now + '%');
        }

        function success_processbar(bar) {
            bar.addClass('progress-bar-success');
        }

    })(jQuery);
    {#    })(jQuery);#}


</script>
<div id="container">
    <p class="file-upload">
        {% if value %}
            Currently:
            {% if file_url %}
                <a id="{{ id }}_link" target="_new" href="{{ file_url }}">{{ file_url }}</a>
                {% if show_thumb %}
                    <img src="{{ file_url }}" style="width:250px;">
                {% endif %}
            {% else %}
                {{ value }}
            {% endif %}
            {{ clear_checkbox }}
            <br>
            Change:
        {% endif %}

        <span id="{{ id }}_uploaded_status"></span>
        <input type="file" id="{{ id }}_input_file" style="position：absolute;">
    </p>
    {#    <progress id="{{ id }}_progress" value="0" max="1" style="width:500px"></progress>#}
    <div class="progress">
        <div id="{{ id }}_progress" class="progress-bar" role="progressbar" aria-valuenow="0"
             aria-valuemin="0" aria-valuemax="1">
            {#            <span class="sr-only"></span>#}
            <span id="{{ id }}_upload_icon"><i class='fa fa-circle-o-notch fa-spin'></i>processing</span>
        </div>
    </div>
</div>

<input type="hidden" name="{{ name }}" id="{{ id }}" value="{{ value }}">
