{% extends 'admin_resumable/file_input.html' %}
{% block script_head %}
    {#    function getFileName(file){#}
    {#    var pos=file.lastIndexOf(".");#}
    {#    return file.substring(0, pos);#}
    {#    }#}
{% endblock %}

{% block vod_title %}
    var filename = getFileName(file.fileName);
    $('#id_title').val(filename);
{% endblock %}

{% block file_success %}
    $.confirm({
        title: '是否自动保存?',
        content: '上传完成, 将在5秒后自动保存!',
        autoClose: 'Save|5000',
            buttons: {
            Save: {
            text: '保存',
            action: function () {
            $("[name='_save']").click();
            }
            },
            cancel: {
                text: '取消',
                action: function () {
                    $.alert('已取消自动保存,请在编辑完成后手动点击保存按钮!');
                }
            }
        }
    });
{% endblock %}

